import 'package:ant_design_flutter/ant_design_flutter.dart';

void main() {
  runApp(const AntApp(home: CheckboxBasicDemo()));
}

class CheckboxBasicDemo extends StatelessWidget {
  const CheckboxBasicDemo({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return const Scaffold(
      body: Checkbox(child: Text('Checkbox')),
    );
  }
}
