import 'package:ant_design_flutter/ant_design_flutter.dart';

void main() {
  runApp(const AntApp(home: TagBasicDemo()));
}

class TagBasicDemo extends StatelessWidget {
  const TagBasicDemo({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return const Scaffold(
      body: Space(children: [
        Tag(child: Text('Tag 1')),
        Tag(child: Text('Link')),
        Tag(child: Text('Prevent Default')),
      ]),
    );
  }
}
